<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
    </div>

    <div class="footer-col-2 column">
    </div>

    <div class="footer-col-3 column">
      <ul class="footer_nav">
        <li><a href="/xmas/2016/">Christmas 2016</a></li>
        <li><a href="/xmas/2016/logan">Logan</a></li>
        <li><a href="/xmas/2016/emma">Emma</a></li>
        <li><a href="/xmas/2016/lily">Lily</a></li>
        <li><a href="/xmas/2016/becca">Becca</a></li>
        <li><a href="/xmas/2016/Jill">Jill</a></li>
        <li><a href="/xmas/2016/glenn">Glenn</a></li>
        <li><a href="/xmas/2016/pets">Pets</a></li>
      </ul>
    </div>

  </div>

</footer>
