<!DOCTYPE html>
<html>

  {% include xmas_2015_head.html %}

    <body>

    {% include xmas_header.html %}
    <div class="Hero">
      <div class='Hero-blurb'>
	Merry Christmas!
      </div>
      <div class="fullscreen-bg">
	  <video loop muted autoplay poster="/images/bg.jpg" class="fullscreen-bg__video">
       	<source src="/images/xmas2015/xmas2015.mp4" type="video/mp4">
	  </video>
      </div>
    </div>

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
