<!DOCTYPE html>
<html>
  {% include xmas_2012_head.html %}

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/xmas/2012">Back</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>

      <footer>
      <ul class="footer_nav">
        <li><a href="/xmas/2012">Main</a></li>
        <li><a href="/xmas/2012/glenn">Glenn</a></li>
        <li><a href="/xmas/2012/jill">Jill</a></li>
        <li><a href="/xmas/2012/logan">Logan</a></li>
        <li><a href="/xmas/2012/emma">Emma</a></li>
        <li><a href="/xmas/2012/lily">Lily</a></li>
        <li><a href="/xmas/2012/becca">Becca</a></li>
      </ul>
      <div style="clear:both"></div>
      <p>&copy; Goodrichs.NET 2012 Holiday Letter
      </p>
      </footer>

    </div> <!-- /container -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap-lightbox.min.js"></script>
  </body>
</html>
