<!DOCTYPE html>
<html lang="en" class="xmas2013">
  <head>
    <meta charset="utf-8">
    <title>Christmas 2014</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  {% include xmas_2014_head.html %}
  </head>

  <body>

    <div class="container xmas2014">

      <div class="content">
        <div class='hero-unit'>
          {{ content }}
        </div>
      </div>

      <footer>
      <div style="clear:both"></div>
      <p>&copy; Goodrichs.NET 2014 Holiday Letter</p>
      </footer>

    </div> <!-- /container -->

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap-lightbox.min.js"></script>
  </body>
</html>
