<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700">
    <script type="text/javascript" src="{{ '/css/unitegallery/js/jquery-11.0.min.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/css/unitegallery/js/unitegallery.min.js' | relative_url }}"></script>
    <link rel="stylesheet" href="{{ '/css/unitegallery/css/unite-gallery.css' | relative_url }}">
    <script type="text/javascript" src="{{ '/css/unitegallery/themes/tiles/ug-theme-tiles.js' | relative_url }}"></script>
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/xmas2016.css' | relative_url }}">
    <style>
      .wrap p { margin: 2rem auto; }
      .flickr-embed-frame { padding: 0.5rem !important; float: left; }
      .right > .flickr-embed-frame { float: right; }
      .no-float > .flickr-embed-frame { float: none; }
    </style>
  </head>
  <body>
    {% include header.html %}

    <main class="page-content sky" id="main-content">
      <div class="color wrap">
        {{ content }}
      </div>
    </main>

    {% include xmas2016_footer.html %}

    <script type="text/javascript">
      jQuery(document).ready(function(){
        jQuery("#gallery").unitegallery({
          tiles_type: "justified"
        });
      });
    </script>
  </body>
</html>
